* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden; }
  body.fixed {
    position: fixed; }

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif; }

p {
  font-size: 15.025px;
  line-height: 1.4;
  color: #aaaaaa; }
  p.small {
    font-size: 1.5rem; }

ul {
  list-style-type: none;
  padding-left: 0; }

.top-navigation {
  min-height: 70px;
  padding: 1.48rem 2.08rem;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(50, 50, 83, 0.07); }
  @media only screen and (min-width: 1140px) {
    .top-navigation {
      padding: 2.08rem 3.96rem; } }
  .top-navigation .toggle-mobile-nav {
    background: transparent;
    border: none;
    width: 18px;
    height: 18px;
    margin-right: 3.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-width: 1140px) {
      .top-navigation .toggle-mobile-nav {
        display: none; } }
  .top-navigation .notification-icon {
    padding: 7px;
    position: relative; }
    .top-navigation .notification-icon span {
      position: absolute;
      display: inline-block;
      background: #65c100;
      color: #fff;
      border-radius: 50%;
      top: 5px;
      right: 5px;
      padding: 0 .5rem;
      font-size: 1.375rem; }
  .top-navigation .user-avatar {
    position: relative;
    text-align: center;
    color: #fff; }
    .top-navigation .user-avatar span {
      font-size: 1.375rem;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .top-navigation .user-avatar img {
      z-index: 2;
      position: relative; }

.search-wrap {
  width: 100%;
  display: none; }
  @media only screen and (min-width: 650px) {
    .search-wrap {
      max-width: 350px;
      display: flex; } }
  @media only screen and (min-width: 800px) {
    .search-wrap {
      max-width: 480px; } }
  @media only screen and (min-width: 1140px) {
    .search-wrap {
      max-width: 530px; } }
  .search-wrap > button {
    margin-right: 3rem;
    padding-left: 0; }
  .search-wrap form {
    width: 100%;
    height: 40px; }
    .search-wrap form input {
      border: none;
      outline: none;
      height: 100%;
      padding: 0 2rem;
      font-size: 1.675rem;
      color: #000;
      width: calc(100% - 40px);
      border: 1px solid #ddd; }
      .search-wrap form input::placeholder {
        color: #aaaaaa;
        font-size: 1.375rem; }
    .search-wrap form button {
      height: 100%;
      width: 40px;
      outline: none;
      border: 1px solid #ddd;
      border-left: none;
      background: #f9f9f9;
      padding: 10px; }

.picotext {
  font-size: 1.375rem; }

.nanotext {
  font-size: 1.675rem; }

.microtext {
  font-size: 1.775rem; }

.smalltext {
  font-size: 1.875rem; }

.mediumtext {
  font-size: 1.975rem; }

.avatar {
  border-radius: 50%; }
  .avatar.is-nano {
    width: 37px;
    height: 37px; }
  .avatar.is-micro {
    width: 35px;
    height: 35px; }
    @media only screen and (min-width: 800px) {
      .avatar.is-micro {
        width: 40px;
        height: 40px; } }
  .avatar.is-small {
    width: 40px;
    height: 40px; }
    @media only screen and (min-width: 800px) {
      .avatar.is-small {
        width: 51px;
        height: 51px; } }

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9px; }
  .thumbnail.is-nano {
    width: 35px;
    height: 35px; }
  .thumbnail.is-micro {
    width: 42px;
    height: 42px; }
    @media only screen and (min-width: 800px) {
      .thumbnail.is-micro {
        width: 45px;
        height: 45px; } }

.obj-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer; }
  .btn.btn-standard {
    width: 156px;
    height: 36px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3); }
  .btn.btn-tranparent {
    background: none;
    border: none; }

.slats {
  pointer-events: none; }
  .slats::before, .slats::after {
    content: '';
    top: 0;
    left: 0; }
  .slats::before {
    transform: translateY(-6px); }
  .slats::after {
    transform: translateY(6px); }

.slats,
.slats::before,
.slats::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: background 250ms ease, transform 250ms ease-in; }

.slats::before,
.slats::after {
  width: 12px; }

.co-primary {
  color: #65c100; }

.bg-primary {
  background: rgba(56, 180, 170, 0.6); }

@media only screen and (max-width: 649px) {
  .top-navigation.alt-nav > div {
    display: none; }
  .top-navigation.alt-nav > .search-wrap {
    display: flex; } }

.absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.width-100-pc {
  width: 100%; }

.height-100-pc {
  height: 100%; }

.d-blk {
  display: block; }

.d-ibl {
  display: inline-block; }

.d-flx {
  display: flex; }

.al-i-c {
  align-items: center; }

.j-c-sb {
  justify-content: space-between; }

.p-1 {
  padding: 1rem; }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pl-1 {
  padding-left: 1rem; }

.pr-1 {
  padding-right: 1rem; }

.pt-1 {
  padding-top: 1rem; }

.pb-1 {
  padding-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-1h {
  margin-left: 1.5rem; }

.show-tabletup {
  display: none; }
  @media only screen and (min-width: 1140px) {
    .show-tabletup {
      display: flex;
      flex-direction: column; } }

.hide-tabletup {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 1140px) {
    .hide-tabletup {
      display: none; } }

.show-pretabletup {
  display: none; }
  @media only screen and (min-width: 800px) {
    .show-pretabletup {
      display: flex;
      flex-direction: column; } }

.hide-pretabletup {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 800px) {
    .hide-pretabletup {
      display: none; } }

.show-mobile {
  display: none; }
  @media only screen and (min-width: 650px) {
    .show-mobile {
      display: flex;
      flex-direction: column; } }

.hide-mobile {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 650px) {
    .hide-mobile {
      display: none; } }
