* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

@supports (font-variation-settings: normal) {
    html { 
        font-family: 'Inter var', sans-serif; 
    }
}

body {
    font-family: $bodyFont;
    overflow: hidden;
    height: 100vh;

    &.fixed {
        position: fixed;
    }
}

a {
    text-decoration: none;
    font-family: $headingFont;
}
   
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $headingFont;
}

p {
    font-size: $defaultFontSize;
    line-height: 1.4;
    color: $readableGray;

    &.small {
        font-size: 1.5rem
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}