.main-layout{
    height: 100vh;
    overflow: hidden;

    .content {
        background: $primaryBg;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: $space-sm 0 $space-md;

        & > .section-wraps {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            margin-top: $space-lg;

            &:first-of-type {
                margin-top: 0;
                margin-bottom: 8rem;
            }
        }
    }
}