// === NavBar Component ===
.top-navigation {
    min-height: 70px;
    position: relative;
    z-index: 2;
    padding: $space-xs $space;
    background: $white;
    box-shadow: 0 3px 15px 0px rgba(50, 50, 83, 0.05);
    border-bottom: 1px solid $faintGray;

    @media #{ $tablet } {
        padding: $space $space-md;
    }

    .toggle-mobile-nav {
        background: transparent;
        border: none;
        width: 18px;
        height: 18px;
        margin-right: 3.5rem;
        position: relative;
        @include flx-center-center();
        @media #{ $tablet } {
            display: none;
        }
    }

    .notification-icon {
        padding: 7px;
        position: relative;

        span {
            position: absolute;
            font-size: $picofont;
        }
    }

    .user-avatar {
        position: relative;
        text-align: center;
        color: $white;

        span {
            font-size: $picofont;
            text-transform: uppercase;
            width: 100%;
            height: 100%;
            position: absolute;
            @include flx-col-center();
        }

        img {
            z-index: 2;
            position: relative;
        }
    }
}

.side-navigation {
    height: 100vh;
    background: $primaryGrey;
    overflow-y: auto;
    border-right: 1px solid $primaryGrey;
    box-shadow: 1px 0px 15px 0px rgba(50, 50, 83, 0.05);
    position: fixed;
    top: 0;
    left: -300px;
    width: 100%;
    z-index: 3;
    max-width: 300px;
    transition: all 0.25s linear;

    @media #{ $mobile } {
        left: -350px;
        max-width: 350px;
    }

    @media #{ $tablet } {
        z-index: 1;
        display: block;
        max-width: 350px;
        position: sticky;
        top: unset;
    }

    & > div {
        padding: $space $space-md;
        padding-right: $space-sm;
        border-bottom: 1px solid $faintGray;
        
        &:first-of-type,
        &:last-of-type {
            border-bottom: none;
        }

        &:last-of-type {
            margin-bottom: $space-sm;
        }

        & > button {
            margin: 0 0 $space-md;
            padding-left: 0;
        }

        a,
        h3 {
            color: $black;
            font-size: $nanofont;
        }

        h3 {
            font-weight: 700;
            margin: .5rem 0 2rem;
        }

        a {
            margin-bottom: .85rem;
            @include flx-center-sb();
    
            &.is-active,
            &:hover {
                color: $primary;
            }

            span {
                color: $readableGray;
                font-size: $picofont;

                &.badge {
                    color: $white;
                    padding: .1rem .8rem;
                    margin-right: -7px;
                    border-radius: 45%;               
                }
            }
        }

        li:last-of-type {
            a {
                margin-bottom: 0;
            }
        }
    }
}

.search-wrap {
    width: 100%;
    display: none;
    
    @media #{ $mobile } {
        max-width: 350px;
        display: flex;
    }

    @media #{ $pre-tablet } {
        max-width: 480px;
    }

    @media #{ $tablet } {
        max-width: 530px;
    }

    & > button {
        margin-right: 3rem;
        padding-left: 0;
    }

    .autocomplete {
        width: 100%;
        position: absolute;
        top: 69px;
        left: 0;
        right: 0;
        border: 1px solid $faintGray;
        padding: 1.5rem 0;
        border-top: none;
        background: $white;
        color: $readableGray;
        z-index: 2; 
        
        @media #{ $mobile } {
            max-width: 350px;
            left: unset;
            right: unset;
            top: unset;
        }
    
        @media #{ $pre-tablet } {
            max-width: 480px;
        }
    
        @media #{ $tablet } {
            max-width: 530px;
        }

        .autocomplete-items {
            padding: 1rem 2rem;
            font-size: $nanofont;
            color: $readableGray;
            text-transform: capitalize;
            @include truncate();

            span {
                @include truncate();
                max-width: 320px;
                width: 100%;
                display: inline-block;
            }

            mark {
                background: transparent;
                color: $black
            }

            &:hover {
                cursor: pointer;
                background: $faintGray;
                color: $black;
            }
        }

        .no-results {
            color: $readableGray;
            font-size: $nanofont;
            padding: 1rem 2rem;
            text-align: center;
            font-style: italic;
        }
    }

    form {
       width: 100%;
       height: 40px;

       input {
            border: none;
            outline: none;
            height: 100%;
            padding: 0 2rem;
            font-size: $nanofont;
            color: $black;
            width: calc(100% - 40px);
            border: 1px solid $borderGray;

            &::placeholder {
                color: $readableGray;
                font-size: $picofont;
            }
        }

        button {
            height: 100%;
            width: 40px;
            outline: none;
            border: 1px solid $borderGray;
            border-left: none;
            background: $primaryBg;
            padding: 10px;
        }
    }
}