// Colors

.co-primary {
    color: $primary;
}

.co-readable-gray {
    color: $readableGray;
}

.co-green {
    color: #95fe22;
}

.co-red {
    color: #95fe22;
}

.co-black {
    color: $black;
}

.bg-primary {
    background: $primaryColorBg;
}