// Flickity Slider

.main-carousel {
    position: relative;
    margin-top: $space-sm;
}

.flickity-viewport {
    height: auto !important;
    min-height: 230px;

    @media #{ $mobile } {
        min-height: 360px;
    }
}

.flickity-prev-next-button {
    top: 0;
    bottom: 0;
    width: 38px;
    border-radius: 0;
    height: 100%;
    transform: none;
    background: hsla(0,0%,100%,.6);

    &:hover,
    &:focus {
        outline: none;
        background: hsla(0,0%,100%,.45);
    }

    &.previous {
        left: 0;
        border-right: 1px solid rgba(255, 255, 255, .5);
    }

    &.next {
        right: 0;
        border-left: 1px solid rgba(255, 255, 255, .75);
    }

    .flickity-button-icon {
        position: static;
        width: 25%;
        height: 25%;
    }
}

.flickity-page-dots {
    bottom: -15px;

    .dot {
        margin: 0 4px;
        background: #ddd;
        opacity: 1;
        width: 8px;
        height: 8px;

        &.is-selected {
            background: $primary;
        }
    }
}

.carousel-cell {
    width: 100%;
    max-width: 136px;
    min-height: 205px;
    margin-right: 10px;
    background: $white;
    position: relative;
    counter-increment: carousel-cell;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.13);

    @media #{ $mobile } {
        max-width: 220px;
        min-height: 330px;
        margin-right: 17px;
    }

    &.show-details {
        .more-details-btn {
            background: transparent;
        }

        .with-overlay {
            opacity: 1;
        }
    }

    .more-details-btn {
        position: absolute;
        z-index: 5;
        top: 1rem;
        right: 1rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        @include flx-center-center();

        @media #{ $tablet } {
            display: none;
        }

        img {
            width: 75%;
            margin-top: 3px;

            &.is-close {
                width: 45%;
            }
        }
    }

    .with-overlay {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.7908205518535539) 0%, rgba(0,0,0,0.9476832969515931) 50%, rgba(0,0,0,1) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 2;
        padding: $space-xs;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        width: 100%;
        
        p,
        h3  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @media #{ $pre-tablet } {
            padding: $space-sm;
            justify-content: flex-end;
        }
    }

    &:hover {
        .with-overlay {
            @media #{ $tablet } {
                opacity: 1;
            }
        }
    }


    & > img {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
    }
}