// Styling for the different states

// Responsive Search
.top-navigation {
    &.alt-nav {
        @media #{ $mobile-max } {
            & > div {
                display: none;
            }
    
            & > .search-wrap {
                display: flex;
            }
        }
    }
}

// Off Canvas Menu
.open-drawer {
    .nav-overlay {
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(0, 0, 0, .35);
    }

    .side-navigation {
        left: 0;
    }
}

//Mobile Nav Color Change on Search
.change-nav-bg {
    @media #{ $mobile-max } {
        background: $faintGray;
    }
}