// Text Styling

.picotext {
    font-size: $picofont;
}
.nanotext {
    font-size: $nanofont;
}
.microtext {
    font-size: $microfont;
}
.smalltext {
    font-size: $smallfont;
}
.mediumtext {
    font-size: $mediumfont;
}

.heading {
    font-size: $nanofont;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 $space-md;
    padding-bottom: $space-xs;
    border-bottom: 1px solid $faintGray;
}
