// Text Styling

.picotext {
    font-size: $picofont;
}
.nanotext {
    font-size: $nanofont;
}
.microtext {
    font-size: $microfont;
}
.smalltext {
    font-size: $smallfont;
}
.mediumtext {
    font-size: $mediumfont;
}
