// Cards

.card-wrapper {
    margin: 0 $space-md $space-sm;
}

.details-card {
    width: 100%;
    margin-top: $space-sm;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:nth-of-type(1n+4) {
        display: none;
        @media #{ $pre-mobile } {
            display: inline-flex;
        }
    }

    @media #{ $pre-mobile } {
        width: calc(50% - 20px);
        margin-right: 20px;

        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    @media #{ $pre-tablet } {
        width: calc(33.33% - 20px);

        &:nth-of-type(2n) {
            margin-right: 20px;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    @media #{ $tablet } {
        &:hover {
            background: $white;
            box-shadow: -5px 0px 18px 5px rgba(0, 0, 0, 0.05);
        }
    }

    .dc-image {
        max-width: 105px;
        height: 150px;
    }

    .dc-content {
        padding: 1rem;
        padding-left: 1.5rem;
    }
}